body,
html {
	height: 100%;
	margin: 0;
	padding: 0;
}

.logo-image {
	background-color: blue;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	padding-bottom: 10px;
}
.logo-image img {
	width: 70vw;
	height: 100%;
	object-fit: cover;
}

#placements {
	padding-left: 5vw;
	padding-right: 5vw;
}

/* Our Placements*/
h4 {
	display: flex;
	/* align-items: center; */
	justify-content: center;
}
.placement-table {
	margin: auto;
	width: 90%;
	border-collapse: collapse;
}

.placement-table th,
.placement-table td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.placement-table th {
	font-weight: bold;
	background-color: #f2f2f2;
}

/* Our Team */
.container {
	display: flex;
	align-items: center;
}

.image-frame {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: 1px solid #CCCCCC; */
	/* background-color: #EEEEEE; */
}

.image-frame img {
	border: 1px solid #cccccc;
	padding: 10px;
	background-color: #eeeeee;
	width: 25vw; /* Adjust as needed */
	height: 300px;
	background-size: cover;
}

.designation,
.name {
	margin-top: 1px;
	text-align: center;
}

.content {
	margin-left: 20px;
}
.tpo {
	width: 30%;
	margin-left: 1.65vw;
	margin-right: 1.65vw;
}

/* Cover Image */
.background-image {
	background-image: url("images/team.png");
	height: 20vw;
	background-size: cover;
	background-position: center;
	opacity: 0.75;

	padding: 20px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
a {
	margin-left: 5px;
}
p {
	padding: 2;
	margin: 2px;
}
h4,
h5 {
	padding: 2;
	margin: 3px;
	font-size: 20px;
}

/* .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);} /* Adjust the opacity as needed */

.background-image h1 {
	position: relative;
	color: white;
	font-size: 32px;
	font-weight: bold;
	z-index: 1;
}
.footer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.contactus {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
